.Register {
  height: 100vh;
  background: url("/register.jpg");
  background-size: cover;
  background-position-y: 20%;
  position: relative;
  .overlay {
    background-color: rgba(0, 0, 0, 0.651);
  }
  .content {
    text-align: center;
    width: 100%;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .head {
      font-size: 130px;
      font-weight: 300;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 500px;
        height: 500px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 60px solid rgba(255, 68, 0, 0.574);
        border-radius: 50%;
        z-index: -1;
      }
    }
    .desc {
      color: #9e9e9e;
      margin-top: -30px;
    }
  }
  @media (max-width: 767px) {
    background-position-x: 75%;
    .content {
      .head {
        font-size: 100px;
        &::before {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
  @media (max-width: 575px) {
    background-position-x: 65%;
    .content {
      .head {
        font-size: 66px;
        &::before {
          border: 38px solid rgba(255, 68, 0, 0.574);
          height: 320px;
          width: 320px;
        }
      }
      .desc {
        margin-top: -15px;
        font-size: 15px;
      }
    }
  }
}
